@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(images/background.png) no-repeat center top rgb(41, 5, 181);
  width: 84%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container > * {
  padding: 20px;
}

.main-page {
  display: flex;
  justify-content: center;
}

.main-page div {
  max-width: 500px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

h3 {
  text-align: center;
  line-height: 72px;
}

.main-page h3 {
  font-size: 38px;
  color: #7d73fc;
}

h5 {
  text-align: center;
}

.main-page h5 {
  line-height: 20px;
  font-size: 15px;
  color: #c8c8d4;
  display: flex;
  margin-bottom: 5%;
}

h4 {
  text-align: center;
  line-height: 44px;
  font-family: 'Roboto', sans-serif;
}

.main-page h4 {
  font-size: 22px;
  line-height: 44px;
}

/* In the page header I want my Nav to execute this method. */
.header-page nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

/* In the page header I want my UL to execute this method. */
.header-page ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
  color: #fff;
}

.vector_line {
  align-items: center;
  width: 1px;
  display: flex;
  margin-top: 35px;
  color: #646369;
}

/* Section 2 */

.section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40%;
}

.heading-left {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 24px;
  line-height: 171%;
  letter-spacing: 3%;
}

.items {
  color: #f5f5ff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  line-height: 137%;
  list-style-type: none;
}

.heading-right {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 24px;
  line-height: 171%;
  letter-spacing: 3%;
}

.list-heading {
  color: #9490ff;
}


/* This is my Footer */

hr {
  color: #646369;
}

.icon {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 10%;
}
