@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: url('./Images/background.png');
  background-color: #191765;
  margin-left: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container > * {
  padding: 20px;
}

p {
  color: #dcdce8;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.main-page {
  display: flex;
  justify-content: center;
}

.main-page div {
  max-width: 500px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.main-page p {
  text-align: center;
  margin-bottom: 30px;
}

.main-page h5 {
  line-height: 20px;
  font-size: 15px;
  color: #c8c8d4;
  display: flex;
  margin-bottom: 5%;
}

h4 {
  text-align: center;
  line-height: 44px;
  font-family: 'Roboto', sans-serif;
}

.main-page h4 {
  font-size: 22px;
  line-height: 44px;
}

.header-page nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 5%;
}

.header-page ul {
  display: flex;
  color: #fff;
}

.header-page a {
  text-align: center;
  line-height: 72px;
  color: #fff;
  text-decoration: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  justify-content: center;
}

.vector_line {
  align-items: center;
  width: 1px;
  display: flex;
  margin-top: 35px;
  color: #646369;
}

.section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 38%;
}

.heading-left {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 24px;
  line-height: 171%;
  letter-spacing: 3%;
}

.items {
  color: #f5f5ff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  line-height: 137%;
  list-style-type: none;
}

.heading-right {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 24px;
  line-height: 171%;
  letter-spacing: 3%;
}

.list-heading {
  color: #9490ff;
  display: flex;
}

hr {
  color: #646369;
}

.icon {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-top: 10%;
  list-style-type: none;
}

.middle-section h2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  justify-content: start;
  margin: 10px 0 10px 0;
}

.middle-section p {
  color: #dcdce8;
}

.lang {
  color: #fff;
}

.middle-section h1 {
  text-align: start;
}

.middle-section hr {
  margin-bottom: 30px;
}

.programs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  height: 48px;
  background: #7d73fc;
  margin: 10px 0 10px 0;
  color: #fff;
  border: 1px solid #7d73fc;
}

.mobile-us {
  display: flex;
  justify-content: center;
  color: #9390ff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-top: 40px;
}

.desktop-us {
  display: none;
}

.template-footer p {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  flex: none;
  text-align: center;
  color: #f5f5ff;
  margin-top: 15px;
}

.form-section {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.form-section ul {
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.form-section li {
  margin-top: 15px;
  box-sizing: border-box;
}

.form-submit {
  align-items: center;
  justify-content: center;
}

#name {
  background: #fff;
  width: 90%;
  padding: 14px;
  border: #191765;
}

#email {
  background: #f7f3ff;
  border: 1px solid #9490ff;
  width: 90%;
  padding: 14px;
}

#msg {
  background: #fff;
}

.form-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  height: 48px;
  background: #7d73fc;
  margin: 10px 0 10px 0;
  color: #fff;
  border: 1px solid #7d73fc;
  margin-bottom: 80px;
  margin-top: 26px;
  margin-left: 74px;
}

.form-button:hover {
  background-color: rgb(92, 4, 90);
}

.contact-email ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: -10px;
  position: absolute;
  width: 221px;
  height: 29px;
  left: 76px;
}

@media only screen and (min-width: 768px) {
  body {
    background: url('./Images/two_circle.png');
    background-color: #191765;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .logo {
    display: flex;
    justify-content: flex-end;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .nav-links {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .nav-links li {
    display: flex;
    font-size: normal;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
  }

  .header-page nav {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  .header-page ul {
    display: flex;
    color: #fff;
  }

  .main-page h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 105px;
    text-align: center;
  }

  .main-page h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }

  .main-page p {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #b3bac5;
    text-align: center;
    margin-top: 80px;
    line-height: 32px;
    height: 155px;
    width: 447px;
  }

  .main-page hr {
    position: absolute;
    height: 0;
    left: 18%;
    right: 25%;
    border: 1px solid #646369;
    margin-top: 33%;
  }

  .icon {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 10%;
    list-style-type: none;
    margin-bottom: 0;
  }

  .work-right {
    display: flex;
    margin-left: 300%;
  }

  .work-left {
    display: flex;
    margin-left: -300%;
  }

  .section2 hr {
    position: absolute;
    height: 0;
    left: 27%;
    right: 25%;
    border: 1px solid #646369;
    margin-top: 17%;
  }

  .section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13%;
    justify-content: center;
  }

  .list-heading {
    color: #9490ff;
    display: flex;
  }

  .section2 .list-heading {
    width: 106px;
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #9390ff;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    height: 48px;
    background: #7d73fc;
    margin: 10px 0 10px 0;
    color: #fff;
    border: 1px solid #7d73fc;
  }

  .button:hover {
    background-color: rgb(92, 4, 90);
  }

  .break-line {
    display: flex;
  }

  .middle-section h1 {
    text-align: start;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-style: normal;
    width: 444px;
    height: 114px;
    white-space: nowrap;
    margin: 70px;
  }

  .middle-section hr {
    height: 0;
    left: 0;
    right: 0;
    border: 1px solid #646369;
    justify-content: center;
    margin: 0 auto;
    margin-top: 35px;
    width: 87%;
  }

  .desktop-us {
    display: flex;
    justify-content: center;
    color: #9390ff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    margin-top: 40px;
  }

  .mobile-us {
    display: none;
  }

  .work-section {
    display: flex;
    margin: 80px;
  }

  .work-section1 {
    display: flex;
    flex-direction: row-reverse;
    margin: 80px;
  }

  .divide {
    padding-left: 30px;
  }

  .divide1 {
    padding-right: 30px;
  }

  .template-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .template-footer p {
    width: 684px;
    height: 61px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 25%;
    padding-right: 25%;
  }

  #name {
    background: #fff;
    height: 48px;
    margin: 0 24px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 0 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #172b4d;
    width: 70%;
    margin-bottom: 18px;
  }

  #email {
    background: #fff;
    height: 48px;
    margin: 0 24px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 0 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #172b4d;
    width: 70%;
    margin-bottom: 18px;
  }

  #msg {
    height: 170px;
    left: 24px;
    margin: 0 24px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 0 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #172b4d;
    width: 70%;
  }

  .form-section {
    margin-left: 20%;
  }

  .form-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 45px;
    height: 48px;
    background: #7d73fc;
    margin: 10px 0 10px 0;
    color: #fff;
    border: 1px solid #7d73fc;
    margin-bottom: 80px;
    margin-top: 26px;
    margin-left: 30%;
  }

  .link-page a {
    display: flex;
    width: 221px;
    height: 29px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .link-page hr {
    background: #3a3837;
  }

  .heading-left .items {
    width: 68.08px;
    height: 30.33px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13.1389px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .heading-right .items {
    width: 104.52px;
    height: 33.48px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.1935px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .third-heading .items {
    width: 76px;
    height: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.6667px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #fff;
  }
}
