@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./Images/background.png');
  background-color: #191765;
  margin-left: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  overflow-x: hidden;
}

/* .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.container > * {
  padding: 20px;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.header-page ul {
  display: none;
}

.form-section ul {
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.contact-email ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: -10px;
  position: absolute;
  width: 221px;
  height: 29px;
  left: 76px;
}

.nav-links.active ul {
  left: 0;
  display: flex;
}

.nav-item {
  margin: 16px 0;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #191765;
  font-family: 'Roboto', sans-serif;
  background-image: url(./Images/menu-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}

.hamburger-span {
  color: #6070ff;
  font-size: 30px;
  cursor: pointer;
}

.overlay a {
  padding: 2px;
  text-decoration: none;
  font-size: 24px;
  color: #edecff;
  font-weight: 500;
  display: block;
  transition: 0.3s;
  line-height: 32px;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
}

.header-page a {
  text-align: center;
  line-height: 72px;
  color: #fff;
  text-decoration: none;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 11px;
  right: 5px;
  font-size: 30px;
  font-weight: normal;
  border: 2px;
  cursor: pointer;
  margin-right: 30px;
}

.link-icons1 {
  color: #7d73fc;
  margin-top: 7%;
  font-size: 24px;
}

.link-icons2 {
  color: #7d73fc;
  margin-top: 7%;
  font-size: 24px;
  margin-left: 29px;
}

.link-icons3 {
  color: #7d73fc;
  margin-top: 7%;
  font-size: 24px;
  margin-left: 6px;
}

.g {
  display: flex;
  gap: 10rem;
}

p {
  color: #dcdce8;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.main-page {
  display: flex;
  justify-content: center;
}

.main-page div {
  max-width: 500px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.main-page p {
  text-align: center;
  margin-bottom: 30px;
}

.main-page h5 {
  line-height: 20px;
  font-size: 15px;
  color: #c8c8d4;
  display: flex;
  margin-bottom: 5%;
}

h4 {
  text-align: center;
  line-height: 44px;
  font-family: 'Roboto', sans-serif;
}

.main-page h4 {
  font-size: 22px;
  line-height: 44px;
}

.header-page nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 5%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  justify-content: center;
}

.vector_line {
  align-items: center;
  width: 1px;
  display: flex;
  margin-top: 35px;
  color: #646369;
}

.section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 38%;
}

.heading-left {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 24px;
  line-height: 171%;
  letter-spacing: 3%;
}

.items {
  color: #f5f5ff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  line-height: 137%;
  list-style-type: none;
}

.heading-right {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 24px;
  line-height: 171%;
  letter-spacing: 3%;
}

.list-heading {
  color: #9490ff;
  display: flex;
}

hr {
  color: #646369;
}

.icon {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  margin-top: 10%;
  list-style-type: none;
}

.icons {
  display: flex;
}

.middle-section h2 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  justify-content: start;
  margin: 10px 0 10px 0;
}

.middle-section p {
  color: #dcdce8;
}

.lang {
  color: #fff;
}

.middle-section h1 {
  text-align: start;
}

.middle-section hr {
  margin-bottom: 30px;
}

.programs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  height: 48px;
  background: #7d73fc;
  margin: 10px 0 10px 0;
  color: #fff;
  border: 1px solid #7d73fc;
}

.mobile-us {
  display: flex;
  justify-content: center;
  color: #9390ff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-top: 40px;
}

.desktop-us {
  display: none;
}

.template-footer p {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  text-align: center;
  color: #f5f5ff;
  margin-top: 15px;
}

.form-section {
  display: flex;
  justify-content: center;

  /* padding: 24px; */
  margin-left: -30px;
  margin-right: 15px;
  margin-top: 60px;
}

.form-section li {
  margin-top: 15px;
  box-sizing: border-box;
}

.form-submit {
  align-items: center;
  justify-content: center;
}

#name {
  /* background: #fff;
  width: 90%;
  padding: 14px;
  border: #191765; */
  background: #fff;
  height: 48px;
  margin: 0 24px;
  border: 1px solid #cfd8dc;
  padding: 0 24px;
  color: #172b4d;
  width: 100%;
  margin-bottom: 18px;
}

#email {
  /* background: #F7F3FF;
  border: 1px solid #9490FF;
  width: 90%;
  padding: 14px; */
  background: #fff;
  height: 48px;
  margin: 0 24px;
  border: 1px solid #cfd8dc;
  padding: 0 24px;
  font-weight: 400;
  font-size: 21px;
  color: #172b4d;
  width: 100%;
  margin-bottom: 18px;
}

#msg {
  height: 170px;
  left: 24px;
  margin: 0 24px;
  border: 1px solid #cfd8dc;
  padding: 0 24px;
  font-weight: 400;
  font-size: 21px;
  color: #172b4d;
  width: 100%;
}

.form-button {
  flex-direction: row;
  align-items: center;
  background: #7d73fc;
  padding: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  top: 12px;
  border: 1px solid #7d73fc;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #edecff;
  margin-top: 3rem;
  margin-left: 40%;
  margin-bottom: 7rem;
}

.form-button:hover {
  background-color: rgb(92, 4, 90);
}

#error_message {
  color: red;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  body {
    background: url('./Images/two_circle.png');
    background-color: #191765;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .navbar {
    display: flex;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .logo {
    display: flex;
    justify-content: flex-end;
    transform: rotate(360deg);
    transition: 5s;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .nav-links {
    justify-content: space-between;
    align-items: center;
    gap: 25%;
    margin-right: -50rem;
  }

  .nav-links li {
    display: flex;
    font-size: normal;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
  }

  .header-page nav {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }

  .header-page ul {
    display: flex;
    color: #fff;
  }

  .main-page h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 105px;
    text-align: center;
  }

  .main-page h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }

  .main-page p {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #b3bac5;
    text-align: center;
    margin-top: 80px;
    line-height: 32px;
    height: 155px;
    width: 447px;
  }

  .hr-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .icon {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 10%;
    list-style-type: none;
    margin-bottom: 0;
  }

  .work-right {
    display: flex;
    margin-left: 300%;
  }

  .recent {
    height: 114px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 114px;
    display: flex;
    align-items: center;
    margin-left: 80px;
    color: #9390ff;
  }

  .work-left {
    display: flex;
    margin-left: -300%;
  }

  .section2 hr {
    position: absolute;
    height: 0;
    left: 27%;
    right: 25%;
    border: 1px solid #646369;
    margin-top: 17%;
  }

  .section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13%;
    justify-content: center;
  }

  .section2 ul {
    font-size: 100px;
  }

  .list-heading {
    color: #9490ff;
    display: flex;
  }

  .section2 .list-heading {
    width: 106px;
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #9390ff;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    height: 48px;
    background: #7d73fc;
    margin: 50px 0 10px 0;
    color: #fff;
    border: 1px solid #7d73fc;
  }

  .button:hover {
    background-color: rgb(92, 4, 90);
    transition: 1s;
  }

  .break-line {
    display: flex;
  }

  .middle-section hr {
    height: 0;
    left: 0;
    right: 0;
    border: 1px solid #646369;
    justify-content: center;
    margin: 0 auto;
    margin-top: 35px;
    width: 87%;
  }

  .middle-section p {
    width: 448px;
    height: 140px;
    margin: 20px 0 35px 0;
  }

  .desktop-us {
    display: flex;
    justify-content: center;
    color: #9390ff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    margin-top: 40px;
  }

  .mobile-us {
    display: none;
  }

  .work-section {
    display: flex;
    margin: 80px;
  }

  .section-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 684px;
    height: 448px;
    transition: 2s;
  }

  .section-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .work-section1 {
    display: flex;
    flex-direction: row-reverse;
    margin: 80px;
  }

  .divide {
    padding-left: 30px;
    padding-top: 50px;
  }

  .divide1 {
    padding-right: 30px;
    padding-top: 50px;
  }

  .template-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .template-footer p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 25%;
    padding-right: 22%;
  }

  #name {
    background: #fff;
    height: 48px;
    margin: 0 24px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 0 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #172b4d;
    width: 70%;
    margin-bottom: 18px;
  }

  .toggle {
    display: none;
  }

  #name:hover {
    transform: translate(42px, 18px);
    transition: 2s;
  }

  #email {
    background: #fff;
    height: 48px;
    margin: 0 24px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 0 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #172b4d;
    width: 70%;
    margin-bottom: 18px;
  }

  #email:hover {
    transform: translate(42px, 18px);
    transition: 2s;
  }

  #msg {
    height: 170px;
    left: 24px;
    margin: 0 24px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 0 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #172b4d;
    width: 70%;
  }

  #msg:hover {
    transform: translate(42px, 18px);
    transition: 2s;
  }

  .form-section {
    margin-left: 20%;
  }

  .form-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 45px;
    height: 48px;
    background: #7d73fc;
    margin: 10px 0 10px 0;
    color: #fff;
    border: 1px solid #7d73fc;
    margin-bottom: 80px;
    margin-top: 26px;
    margin-left: 30%;
  }

  .link-page a {
    display: flex;
    width: 221px;
    height: 29px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .link-page hr {
    background: #3a3837;
  }

  .heading-left .items {
    width: 68.08px;
    height: 30.33px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13.1389px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .heading-right .items {
    width: 104.52px;
    height: 33.48px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.1935px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .third-heading .items {
    width: 76px;
    height: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14.6667px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  #error_message {
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  }
}
